:root {
    --text-color: rgba(2, 20, 41, 1);
    --background-color: rgba(233, 238, 242, 1);
    --primary-color: rgba(29, 62, 115, 1);
    --secondary-color: rgba(197, 217, 227, 1);
    --accent-color: rgba(138, 61, 81, 1);
}

@font-face {
    font-family: "rubikLight";
    src: url("res/Rubik-Light.ttf");
}

@font-face {
    font-family: "rubikSemiBold";
    src: url("res/Rubik-SemiBold.ttf");
}

body {
    font-family: "rubikLights", sans-serif;
    font-size: 1.2em;
    color: var(--text-color);
    background-color: var(--background-color);
    text-align: center;
    margin: 0px auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "rubikSemiBold", sans-serif;
    font-size: 2.6em;
}

nav {
    background: var(--background-color);
}

.nav-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: 50%;
    background-color: white;
    padding: 3vw;
    margin-bottom: 2vw;
}

.nav-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 10vw;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    transition-duration: 0.3s;
}

a:hover {
    color: var(--accent-color);
}

.footer-container {
    background: var(--background-color);
    padding: 80px 0px 200px 0px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
}

.social-link {
    filter: brightness(0%);
    margin: 0px 20px;
}