@font-face {
    font-family: "rubikLight";
    src: url("res/Rubik-Light.ttf");
}

@font-face {
    font-family: "rubikSemiBold";
    src: url("res/Rubik-SemiBold.ttf");
}

body {
    font-family: "rubikLights", sans-serif;
    background-color: #eff2f4;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "rubikSemiBold", sans-serif;
}

a {
    text-decoration: none;
}

.footer-area {
    text-align: center;
    margin: 0px auto;
}

.social-link {
    filter: brightness(0%);
    margin: 0px 20px;
}