@font-face {
    font-family: "rubikLight";
    src: url("res/Rubik-Light.ttf");
}

@font-face {
    font-family: "rubikSemiBold";
    src: url("res/Rubik-SemiBold.ttf");
}

body {
    font-family: "rubikLights", sans-serif;
    font-size: 1.3em;
    background-color: #eff2f4;
    text-align: center;
    margin: 0px auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "rubikSemiBold", sans-serif;
    font-size: 2.6em;
}

nav {
    background-color: #dee5e9;
    padding: 20px;
}

.nav-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: 500px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    column-gap: 60px;
}

a {
    text-decoration: none;
    color: #0a2147;
    transition-duration: 0.3s;
}

a:hover {
    color: #3b688c;
}

a:active {
    color: #631d55;
}

.footer-container {
    background-color: #dee5e9;
    padding: 80px 0px 200px 0px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
}

.social-link {
    filter: brightness(0%);
    margin: 0px 20px;
}